<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gasen.usercenterbackend.mapper.UserFavoriteMapper">
    <select id="checkFavorite" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user_favorite
        WHERE user_id = #{userId} AND resource_id = #{resourceId}
    </select>
</mapper> 